<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.DocumentoMapper">
	<insert id="insertarDocumento">
	<selectKey keyProperty="id" keyColumn="codigo" resultType="int" order="BEFORE">
		<include refid="obtenerElSiguienteIdentificador" /> 
	</selectKey>
		INSERT INTO Elemento (
			codigo,
			nombre,
			fechaCreacion,
			fechaUltimaActualizacion,
			esPublico,
			tipo,
			estadoDocumento)
		VALUES (
			#{id},
			#{documento.nombre},
			#{documento.fechaCreacion},
			#{documento.fechaUltimaActualizacion},
			#{documento.publico},
			1,
			#{documento.estado.codigo})
	</insert>

	<delete id="eliminarDocumento">
		DELETE FROM Elemento WHERE codigo=#{codigo}
	</delete>

	<update id="modificarDocumento">
		UPDATE Elemento
		SET nombre=#{documento.nombre},
			fechaCreacion=#{documento.fechaCreacion},
			fechaUltimaActualizacion=#{documento.fechaUltimaActualizacion},
			esPublico=#{documento.publico},
			tipo=1,
			estadoDocumento=#{documento.estado.codigo}
		WHERE codigo=#{documento.codigo}
	</update>

	<select id="consultarDocumento" resultMap="documentoResultMap">
		<include refid="baseSelectDocumento" /> 
		WHERE tipo=1 AND codigo=#{codigo}
	</select>

	<select id="consultarTodosLosDocumentos" resultMap="documentoResultMap">
		<include refid="baseSelectDocumento" /> WHERE tipo=1 
	</select>
	
	<select id="obtenerElSiguienteIdentificador" resultType="Integer">
		SELECT ISNULL(MAX(codigo), 0)+1 FROM Elemento
	</select>
	
	<sql id="obtenerNuevoCodigo">
		SELECT ISNULL(MAX(codigo), 0)+1 FROM Elemento
	</sql>
	
	<sql id="baseSelectDocumento">
		SELECT
			codigo,
			nombre,
			fechaCreacion,
			fechaUltimaActualizacion,
			esPublico,
			tipo,
			estadoDocumento
		FROM Elemento
	</sql>

	<resultMap id="documentoResultMap" type="es.fpdual.eadmin.eadmin.modelo.Documento"
		autoMapping="false">
		<constructor>
			<idArg column="codigo" javaType="Integer" />
			<arg column="nombre" javaType="String" />
			<arg column="fechaCreacion" javaType="Date" />
			<arg column="fechaUltimaActualizacion" javaType="Date" />
			<arg column="esPublico" javaType="Boolean" />
			<arg column="estadoDocumento" javaType="es.fpdual.eadmin.eadmin.modelo.EstadoDocumento" />
		</constructor>
	</resultMap>
	
</mapper>
    