<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.DocumentoMapper">
	<insert id="insertarDocumento">
		INSERT INTO Elemento (
		codigo,
		nombre,
		fechaCreacion,
		fechaUltimaActualizacion,
		esPublico,
		tipo,
		estadoDocumento)
		VALUES (
		#{documento.codigo},
		#{documento.nombre},
		#{documento.fechaCreacion},
		#{documento.fechaUltimaActualizacion},
		#{documento.publico},
		1,
		#{documento.estado.codigo})
	</insert>
	<delete id="eliminarDocumento">
		DELETE FROM Elemento WHERE codigo=#{codigo}
	</delete>
	<update id="modificarDocumento">
		UPDATE Elemento
		SET nombre=#{documento.nombre},
		fechaCreacion=#{documento.fechaCreacion},
		fechaUltimaActualizacion=#{documento.fechaUltimaActualizacion},
		esPublico=#{documento.publico}, tipo=1,
		estadoDocumento=#{documento.estado.codigo}
		WHERE codigo=#{documento.codigo}
	</update>
	<select id="consultarDocumento" resultMap="documentoResultMap">
		SELECT
		codigo,
		nombre,
		fechaCreacion,
		fechaUltimaActualizacion,
		esPublico,
		tipo,
		estadoDocumento
		FROM Elemento
		WHERE codigo=#{codigo}
	</select>
	<resultMap id="documentoResultMap" type="es.fpdual.eadmin.eadmin.modelo.Documento"
		autoMapping="false">
		<constructor>
			<idArg column="codigo" javaType="Integer" />
			<arg column="nombre" javaType="String" />
			<arg column="fechaCreacion" javaType="Date" />
			<arg column="fechaUltimaActualizacion" javaType="Date" />
			<arg column="esPublico" javaType="Boolean" />
			<arg column="estadoDocumento" javaType="es.fpdual.eadmin.eadmin.modelo.EstadoDocumento" />
		</constructor>
	</resultMap>
</mapper>
    